.center{
    margin: auto;
    padding: 10px;
    text-align: center;
    color:white;
}

div.center{
    padding: 20px;
}
.admin-intro-container{
    margin : 70px auto 0;
    padding: 30px;
    width : 80vw;
    display: flex;
    align-items: center;
}
.admin-intro-img{
    width : 60%
}
.admin-intro-container h4{
    color : #017BFE;
}
div.menu{  
    border:2px solid black;
    border-radius: 15px;
    backdrop-filter:blur(50px);
    width: 60%;
    margin-top: 10px;
}
.linkStyle{
    padding: 5px;
    text-decoration: none;
    color:white;
    border-radius: 10px;
}
.choiceIcon{
    height: 120px;
    width: 120px;
    display: block;
}
.choiceTile{
    text-align:left;
    width: 120px;
    display: inline-block;
    margin: 50px;
}