.whole{
    background-color: maroon;
}
.custom{
    text-align:left;
    color:beige;
    margin-left:30px;
}
.container{
    text-align:center;
    justify-content:left;
}
.centred{
    background-color: white;
    padding:20px;
    justify-content: center;
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    margin-top:10px;
    text-align: left;
    margin-left:300px;

    align-items: right;
    
    
}
label{
    align-items: center;
    color:maroon;
    text-align: left;
    font-weight:bold
}
.column{
    display:flex;
    flex-direction:column;
    margin-right:20px;
}
button{
    font-size: 200px;
    font-weight: bold;
    background-color: maroon;
    color:beige;
    margin-top:10px;
}

input[type="text"],select,button{
    width:100%;
    padding:5px;
    border: 1px solid #ccc;
    border-radius:4px;
    font-size:20px;
}
button:hover{
    background-color: black;
}