.center{
    margin: auto;
    padding: 10px;
    text-align: center;
    color:white;
}

div.center{
    padding: 20px;
}

div.bckimage{
    background-image: url("./images/adminBackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
div.menu{  
    border:2px solid black;
    border-radius: 15px;
    backdrop-filter:blur(50px);
    width: 60%;
    margin-top: 10px;
}
.linkStyle{
    padding: 5px;
    text-decoration: none;
    color:white;
    border-radius: 10px;
}
.choiceIcon{
    height: 120px;
    width: 120px;
    display: block;
}
.choiceTile{
    text-align:left;
    width: 120px;
    display: inline-block;
    margin: 50px;
}