.login-container{
    height : 100vh;
    width : 100vw;
    padding : auto;
    display : flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display : flex;
    justify-content: space-around;
    width :100vw;
    
}
.login-header{
    text-align: center;
    padding : 20px
}
.form-container{
    padding : 20px;
}
.login-img{
    width : 50vw
}